<a href="https://colab.research.google.com/github/arieframasyarif/Komputer-Naive-Bayes/blob/master/Komputer_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EXTRACT DATA FROM GOOGLE DRIVE**

In [1]:
#Mount Google Drive

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [30]:
#Explore dataset

import pandas as pd
import numpy as np

df = pd.read_csv('/content/gdrive/My Drive/Komputer-Naive Bayes/Transaksi pembelian komputer -Training.csv')
komputer = pd.DataFrame(df)
komputer.head()

          Usia Pendapatan  Pelajar Kredit        Label
0         muda      tinggi   tidak   macet  tidak beli
1         muda     tinggi    tidak  lancar  tidak beli
2  tengah baya     tinggi    tidak   macet        beli
3          tua      sedang   tidak   macet        beli
4          tua      rendah      ya   macet        beli

**LabelEncoder & OneHotEncoder**

The labelEncoder and OneHotEncoder only works on categorical features. We need first to extract the categorial featuers using boolean mask.

In [0]:
# Categorical boolean mask
categorical_feature_mask = komputer.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = komputer.columns[categorical_feature_mask].tolist()

In [0]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [33]:
# apply le on categorical feature columns
komputer[categorical_cols] = komputer[categorical_cols].apply(lambda col: le.fit_transform(col))
komputer[categorical_cols].head()

   Usia  Pendapatan   Pelajar  Kredit   Label
0     0            2        0        1      1
1     0            3        0        0      1
2     1            3        0        1      0
3     2            1        0        1      0
4     2            0        1        1      0

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [35]:
feature_names = list(komputer.columns)
do_not_use_for_training = ['Label']

feature_names = [f for f in komputer.columns if f not in do_not_use_for_training]

print('Total features : {}'.format(len(feature_names)))

komputer[feature_names].count()
y = komputer['Label']

Total features : 4

In [0]:
Xtr, Xv, ytr, yv = train_test_split(komputer[feature_names], y, test_size=0.3, random_state=1)

**BUILD MODEL**

In [0]:
naive_bayes = MultinomialNB()
naive_bayes.fit(Xtr, ytr)
predictions = naive_bayes.predict(Xv)

**EVALUATION**

In [38]:
#Training Score
naive_bayes.score(Xtr, ytr)

0.7777777777777778

In [39]:
#Testing Score
naive_bayes.score(Xv, yv)

0.6

**PREDICT DATA**

In [0]:
Xv['prediction'] = naive_bayes.predict(Xv)
Xv['real_class'] = yv

In [41]:
Xv.head()

    Usia  Pendapatan   Pelajar  Kredit   prediction  real_class
3      2            1        0        1           0           0
7      0            1        0        1           0           1
6      1            0        1        0           0           0
2      1            3        0        1           1           0
10     0            1        1        0           0           0

**SAVE THE MODEL AS FILE .pkl**

In [0]:
from sklearn.externals import joblib

In [20]:
joblib.dump(naive_bayes, '/content/gdrive/My Drive/Komputer-Naive Bayes/Transaksi pembelian komputer.pkl')

['/content/gdrive/My Drive/Komputer-Naive Bayes/Transaksi pembelian komputer.pkl']

**BATCH OF PREDIKSON**

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib

**EXTRACT**

In [47]:
df = pd.read_csv('/content/gdrive/My Drive/Komputer-Naive Bayes/Transaksi pembelian komputer -Testing.csv')
testing_komputer = pd.DataFrame(df)
testing_komputer.head()

  Usia Pendapatan  Pelajar Kredit
0  tua      tinggi   tidak   macet

**LabelEncoder & OneHotEncoder**

The labelEncoder and OneHotEncoder only works on categorical features. We need first to extract the categorial featuers using boolean mask.

In [0]:
# Categorical boolean mask
categorical_feature_mask = testing_komputer.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = testing_komputer.columns[categorical_feature_mask].tolist()

In [50]:
# apply le on categorical feature columns
testing_komputer[categorical_cols] = komputer[categorical_cols].apply(lambda col: le.fit_transform(col))
testing_komputer[categorical_cols].head()

   Usia  Pendapatan   Pelajar  Kredit
0     0            2        0        1

**TRANSFORM**

In [0]:
naive_bayes_model_load = joblib.load('/content/gdrive/My Drive/Komputer-Naive Bayes/Transaksi pembelian komputer.pkl')

In [0]:
testing_komputer['prediction'] = naive_bayes_model_load.predict(testing_komputer)

In [53]:
testing_komputer.head()

   Usia  Pendapatan   Pelajar  Kredit   prediction
0     0            2        0        1           1

**LOAD**

In [0]:
testing_komputer.to_csv("/content/gdrive/My Drive/Komputer-Naive Bayes/Hasil Klasifikasi pembelian komputer.csv", sep=',',index=False)